<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="nav-bar">
            <nav>
                <a href="home">Home</a>
                <a href="gallery">Gallery</a>
                <a href="gacha">Gacha</a>
            </nav>
        </div>
        
        <div class="find">
            <form class="example" action="">
                <input type="text" placeholder="Find Your Pokemon..." name="search">
                <button type="submit"><i class="fa fa-search"></ic></button>
            </form>
        </div>
    </header>
</body>
</html>