<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>PokeGacha's Home</title>

  </head>
  <body>
    <div class="home">
      <nav>
        <div class="logo">
          <img src="../../static/img/PokeGacha.png" alt="" class="LogoImg">
        </div>

        <ul class="nav_Link">
          <li><a href="#Home" class="home2" style="color:rgb(182, 61, 61);">Home</a></li>
          <li><a href="#About">Inventory</a></li>
          <li><a href="#Skill">Pokedex</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>

        <ul class="login">
          <li><a href="#Signup" class="signup">Sign up</a></li>
          <li><a href="#Login" class="login2">Login</a></li>
        </ul>
      </nav>
      <div class="box1">
        <div class="left1">
          <p style="font-size: 45px; color:white;" class="DiscoverP">Discover and collect extraordinary</p>
          <h1 style="font-size: 45px;" class="YourPokemonsH1">Your Pokemons</h1>
          <br>
          <br>
          <a href="" class="CollectNowButton">Collect Now ></a>
        </div>
        <div class="right1">
          <img src="../../static/img/mew.png" alt="" class="mewImg">
        </div>
      </div>
    </div>
  </body>
</html>